<h1>Word Central</h1>

<h2>Submit text for Asciis</h2>

<form action="/asciis" method="post">
    <div>
        <label for="text_ascii_user_text">Text</label>
        <textarea name="text_ascii[user_text]" id="text_ascii_user_text"></textarea>
    </div>

    <button type="submit">Submit text</button>
    <input type="hidden" name="authenticity_token"
    value="<%= form_authenticity_token %>">
</form>
